.tfHeaderWrapper {
    width: 90%;
}

.tfHeader {
    display: inline-block;
    height: 1.1rem;
    line-height: 1rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tfSpinner {
    position: absolute;
    right: 10px;
    top: 10px;
}

.articleSummary {
    color: #333;
    margin: 10px;
    padding: 5px;
    line-height: 1.3rem;
}

.articleSummary.small, .articleSummary.small p {
    font-size: 15px !important;
    line-height: 18px !important;
}

.articleSummary.medium, .articleSummary.medium p {
    font-size: 17px !important;
    line-height: 21px !important;
}

.articleSummary.large, .articleSummary.large p {
    font-size: 21px !important;
    line-height: 25px !important;
}

.articleSummary p {
    padding: 0 !important;
    padding-bottom: 15px !important;
}

.articleSummary img {
    max-width: 100% !important;
    padding: 15px 15px 0 15px !important;
}

.articleSummary a > img {
    border: 0 none !important;
}

.articleSummary h1, .articleSummary h2, .articleSummary h3 {
    line-height: 1.7rem;
}

.firstRow {
    border-top: none;
}

.lastRow {
    border-bottom: none;
}
